In [213]:
pd.set_option('display.max_rows', 200)
pd.set_option('display.max_columns', 200)

In [220]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import re
import warnings
warnings.filterwarnings("ignore")
%matplotlib inline

In [183]:
# Read file and parse dates if any present
df = pd.read_csv('telecom_churn_data.csv', parse_dates = True)

In [184]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99999 entries, 0 to 99998
Columns: 226 entries, mobile_number to sep_vbc_3g
dtypes: float64(179), int64(35), object(12)
memory usage: 172.4+ MB

In [185]:
df.head()

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,last_date_of_month_9,arpu_6,...,sachet_3g_9,fb_user_6,fb_user_7,fb_user_8,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g
0,7000842753,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,197.385,...,0,1.0,1.0,1.0,NaN,968,30.4,0.0,101.20,3.58
1,7001865778,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,34.047,...,0,NaN,1.0,1.0,NaN,1006,0.0,0.0,0.00,0.00
2,7001625959,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,167.690,...,0,NaN,NaN,NaN,1.0,1103,0.0,0.0,4.17,0.00
3,7001204172,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,221.338,...,0,NaN,NaN,NaN,NaN,2491,0.0,0.0,0.00,0.00
4,7000142493,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,261.636,...,0,0.0,NaN,NaN,NaN,1526,0.0,0.0,0.00,0.00

In [186]:
# Check the rows and columns in the dataframe
df.shape

(99999, 226)

In [187]:
# Check count of unique mobile numbers
len(df['mobile_number'].unique())

99999

In [188]:
# Since all the mobile numbers are unique, let's set the "mobile number" as the INDEX
df = df.set_index('mobile_number')

In [189]:
# Check for columns with all values as 'na'
print('The number of columns with all values missing/NA are:\r\n',len([i for i in df.columns if df[i].isna().all()]))

The number of columns with all values missing/NA are:
 0

In [190]:
#Check if there are rows with all values as 'na'
print('The number of rows with all values missing/NA are:\r\n',len(df.index[df.isna().all(1)]))

The number of rows with all values missing/NA are:
 0

In [191]:
# Find columns with greater than 50% of values null
null_columns=df.columns[df.isnull().any()]
for i in null_columns:
    if(df[i].isnull().sum()*100/df.shape[0] >50):
        print(i,":",df[i].isnull().sum())

date_of_last_rech_data_6 : 74846
date_of_last_rech_data_7 : 74428
date_of_last_rech_data_8 : 73660
date_of_last_rech_data_9 : 74077
total_rech_data_6 : 74846
total_rech_data_7 : 74428
total_rech_data_8 : 73660
total_rech_data_9 : 74077
max_rech_data_6 : 74846
max_rech_data_7 : 74428
max_rech_data_8 : 73660
max_rech_data_9 : 74077
count_rech_2g_6 : 74846
count_rech_2g_7 : 74428
count_rech_2g_8 : 73660
count_rech_2g_9 : 74077
count_rech_3g_6 : 74846
count_rech_3g_7 : 74428
count_rech_3g_8 : 73660
count_rech_3g_9 : 74077
av_rech_amt_data_6 : 74846
av_rech_amt_data_7 : 74428
av_rech_amt_data_8 : 73660
av_rech_amt_data_9 : 74077
arpu_3g_6 : 74846
arpu_3g_7 : 74428
arpu_3g_8 : 73660
arpu_3g_9 : 74077
arpu_2g_6 : 74846
arpu_2g_7 : 74428
arpu_2g_8 : 73660
arpu_2g_9 : 74077
night_pck_user_6 : 74846
night_pck_user_7 : 74428
night_pck_user_8 : 73660
night_pck_user_9 : 74077
fb_user_6 : 74846
fb_user_7 : 74428
fb_user_8 : 73660
fb_user_9 : 74077

In [192]:
df.filter(regex = 'total_rech_data_').min()

total_rech_data_6    1.0
total_rech_data_7    1.0
total_rech_data_8    1.0
total_rech_data_9    1.0
dtype: float64

In [193]:
print("No. of rows where data recharge is not equal to 2G and 3G recharge in month 6:",df[(df['total_rech_data_6'] != df['count_rech_2g_6'] + df['count_rech_3g_6'])].shape[0])
print("No. of rows where data recharge is not equal to 2G and 3G recharge in month 7:",df[(df['total_rech_data_7'] != df['count_rech_2g_7'] + df['count_rech_3g_7'])].shape[0])
print("No. of rows where data recharge is not equal to 2G and 3G recharge in month 8:",df[(df['total_rech_data_8'] != df['count_rech_2g_8'] + df['count_rech_3g_8'])].shape[0])
print("No. of rows where data recharge is not equal to 2G and 3G recharge in month 9:",df[(df['total_rech_data_9'] != df['count_rech_2g_9'] + df['count_rech_3g_9'])].shape[0])

No. of rows where data recharge is not equal to 2G and 3G recharge in month 6: 74846
No. of rows where data recharge is not equal to 2G and 3G recharge in month 7: 74428
No. of rows where data recharge is not equal to 2G and 3G recharge in month 8: 73660
No. of rows where data recharge is not equal to 2G and 3G recharge in month 9: 74077

#### From the above, it can be observed that "total_rech_data_X" which represents "number of recharges" in the month has a minimum value 1. So if a customer (high-value or not) does not recharge for data in a month, the value is missing and not 0. This explains the same count of missing values that appear across other data-related columns above.

In [194]:
print("Assumption 1: If the data recharge values are missing, the customers have not recharged.",
      "So, impute 0 (zero) where the recharge values (total_rech, max_rech, count_rech, av_rech, arpu) are missing.")

Assumption 1: If the data recharge values are missing, the customers have not recharged. So, impute 0 (zero) where the recharge values (total_rech, max_rech, count_rech, av_rech, arpu) are missing.

In [195]:
for i in df.filter(regex="(total_rech_data|max_rech_data|count_rech_.g|av_rech_amt_data|arpu_.g)").columns:
    df[i] = df[i].fillna(value = 0)

In [196]:
print("Assumption 2: The packs NIGHT and FB_USER are related to data packs and so they will be imputed with 0.")

Assumption 2: The packs NIGHT and FB_USER are related to data packs and so they will be imputed with 0.

In [209]:
for i in df.filter(regex="(night_pck_user|fb_user)").columns:
    df[i] = df[i].fillna(value = 0)

In [198]:
#print("Assumption 3: If minutes of usage values are missing, assume that the customers have not made calls.",
#      "So, impute 0 (zero) where the minutes of usage (mou, ic,og) are missing.")

In [199]:
#for i in df.filter(regex="(mou|og|ic)").columns:
#    df[i] = df[i].fillna(value = 0)

In [200]:
# Check the number of missing/NA values in each column
null_columns=df.columns[df.isnull().any()]
print('Following is the count of null values in each column:')
print(df[null_columns].isnull().sum())

Following is the count of null values in each column:
loc_og_t2o_mou               1018
std_og_t2o_mou               1018
loc_ic_t2o_mou               1018
last_date_of_month_7          601
last_date_of_month_8         1100
last_date_of_month_9         1659
onnet_mou_6                  3937
onnet_mou_7                  3859
onnet_mou_8                  5378
onnet_mou_9                  7745
offnet_mou_6                 3937
offnet_mou_7                 3859
offnet_mou_8                 5378
offnet_mou_9                 7745
roam_ic_mou_6                3937
roam_ic_mou_7                3859
roam_ic_mou_8                5378
roam_ic_mou_9                7745
roam_og_mou_6                3937
roam_og_mou_7                3859
roam_og_mou_8                5378
roam_og_mou_9                7745
loc_og_t2t_mou_6             3937
loc_og_t2t_mou_7             3859
loc_og_t2t_mou_8             5378
loc_og_t2t_mou_9             7745
loc_og_t2m_mou_6             3937
loc_og_t2m_mou_7             3859
loc_og_t2m_mou_8             5378
loc_og_t2m_mou_9             7745
                            ...
std_ic_t2f_mou_8             5378
std_ic_t2f_mou_9             7745
std_ic_t2o_mou_6             3937
std_ic_t2o_mou_7             3859
std_ic_t2o_mou_8             5378
std_ic_t2o_mou_9             7745
std_ic_mou_6                 3937
std_ic_mou_7                 3859
std_ic_mou_8                 5378
std_ic_mou_9                 7745
spl_ic_mou_6                 3937
spl_ic_mou_7                 3859
spl_ic_mou_8                 5378
spl_ic_mou_9                 7745
isd_ic_mou_6                 3937
isd_ic_mou_7                 3859
isd_ic_mou_8                 5378
isd_ic_mou_9                 7745
ic_others_6                  3937
ic_others_7                  3859
ic_others_8                  5378
ic_others_9                  7745
date_of_last_rech_6          1607
date_of_last_rech_7          1767
date_of_last_rech_8          3622
date_of_last_rech_9          4760
date_of_last_rech_data_6    74846
date_of_last_rech_data_7    74428
date_of_last_rech_data_8    73660
date_of_last_rech_data_9    74077
Length: 130, dtype: int64

In [201]:
df.shape

(99999, 225)

#### Shortlist high-value customers
##### "Those who have recharged with an amount more than or equal to X, where X is the 70th percentile of the average recharge amount in the first two months (the good phase)."

In [202]:
df['total'] = df[['total_rech_amt_6','total_rech_amt_7']].sum(axis=1)
threshold = float(df['total'].quantile([0.70]))
df = df[df['total'] > threshold]
df = df.drop('total', axis=1)

In [203]:
df.shape

(29979, 225)

#### Identify churn and non-churn customers using the criteria:
##### "Those who have not made any calls (either incoming or outgoing) AND have not used mobile internet even once in the churn phase. The attributes to use to tag churners are: total_ic_mou_9, total_og_mou_9, vol_2g_mb_9, vol_3g_mb_9"

In [204]:
# Label churn and non-churn customers
df['churn'] = np.where(
            (
                (df['total_ic_mou_9'] == 0.0) | 
                (df['total_og_mou_9'] == 0.0)
            ) & 
            (
                (df['vol_2g_mb_9'] == 0.0) | 
                (df['vol_3g_mb_9'] == 0.0)
            ),1,0
        )

In [205]:
# Look at the distribution of churn and non-churn customers
df['churn'].value_counts()

0    26936
1     3043
Name: churn, dtype: int64

In [206]:
# Remove columns with '9'
df = df.drop(df.filter(regex = '9').columns, axis=1)

In [207]:
df.shape

(29979, 172)

In [219]:
df.describe()

,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,arpu_6,arpu_7,arpu_8,onnet_mou_6,onnet_mou_7,onnet_mou_8,offnet_mou_6,offnet_mou_7,offnet_mou_8,roam_ic_mou_6,roam_ic_mou_7,roam_ic_mou_8,roam_og_mou_6,roam_og_mou_7,roam_og_mou_8,loc_og_t2t_mou_6,loc_og_t2t_mou_7,loc_og_t2t_mou_8,loc_og_t2m_mou_6,loc_og_t2m_mou_7,loc_og_t2m_mou_8,loc_og_t2f_mou_6,loc_og_t2f_mou_7,loc_og_t2f_mou_8,loc_og_t2c_mou_6,loc_og_t2c_mou_7,loc_og_t2c_mou_8,loc_og_mou_6,loc_og_mou_7,loc_og_mou_8,std_og_t2t_mou_6,std_og_t2t_mou_7,std_og_t2t_mou_8,std_og_t2m_mou_6,std_og_t2m_mou_7,std_og_t2m_mou_8,std_og_t2f_mou_6,std_og_t2f_mou_7,std_og_t2f_mou_8,std_og_t2c_mou_6,std_og_t2c_mou_7,std_og_t2c_mou_8,std_og_mou_6,std_og_mou_7,std_og_mou_8,isd_og_mou_6,isd_og_mou_7,isd_og_mou_8,spl_og_mou_6,spl_og_mou_7,spl_og_mou_8,og_others_6,og_others_7,og_others_8,total_og_mou_6,total_og_mou_7,total_og_mou_8,loc_ic_t2t_mou_6,loc_ic_t2t_mou_7,loc_ic_t2t_mou_8,loc_ic_t2m_mou_6,loc_ic_t2m_mou_7,loc_ic_t2m_mou_8,loc_ic_t2f_mou_6,loc_ic_t2f_mou_7,loc_ic_t2f_mou_8,loc_ic_mou_6,loc_ic_mou_7,loc_ic_mou_8,std_ic_t2t_mou_6,std_ic_t2t_mou_7,std_ic_t2t_mou_8,std_ic_t2m_mou_6,std_ic_t2m_mou_7,std_ic_t2m_mou_8,std_ic_t2f_mou_6,std_ic_t2f_mou_7,std_ic_t2f_mou_8,std_ic_t2o_mou_6,std_ic_t2o_mou_7,std_ic_t2o_mou_8,std_ic_mou_6,std_ic_mou_7,std_ic_mou_8,total_ic_mou_6,total_ic_mou_7,total_ic_mou_8,spl_ic_mou_6,spl_ic_mou_7,spl_ic_mou_8,isd_ic_mou_6,isd_ic_mou_7,isd_ic_mou_8,ic_others_6,ic_others_7,ic_others_8,total_rech_num_6,total_rech_num_7,total_rech_num_8,total_rech_amt_6,total_rech_amt_7,total_rech_amt_8,max_rech_amt_6,max_rech_amt_7,max_rech_amt_8,last_day_rch_amt_6,last_day_rch_amt_7,last_day_rch_amt_8,total_rech_data_6,total_rech_data_7,total_rech_data_8,max_rech_data_6,max_rech_data_7,max_rech_data_8,count_rech_2g_6,count_rech_2g_7,count_rech_2g_8,count_rech_3g_6,count_rech_3g_7,count_rech_3g_8,av_rech_amt_data_6,av_rech_amt_data_7,av_rech_amt_data_8,vol_2g_mb_6,vol_2g_mb_7,vol_2g_mb_8,vol_3g_mb_6,vol_3g_mb_7,vol_3g_mb_8,arpu_3g_6,arpu_3g_7,arpu_3g_8,arpu_2g_6,arpu_2g_7,arpu_2g_8,night_pck_user_6,night_pck_user_7,night_pck_user_8,monthly_2g_6,monthly_2g_7,monthly_2g_8,sachet_2g_6,sachet_2g_7,sachet_2g_8,monthly_3g_6,monthly_3g_7,monthly_3g_8,sachet_3g_6,sachet_3g_7,sachet_3g_8,fb_user_6,fb_user_7,fb_user_8,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g,churn
count,29979.0,29865.0,29865.0,29865.0,29979.000000,29979.000000,29979.000000,29663.000000,29676.000000,29041.000000,29663.000000,29676.000000,29041.000000,29663.000000,29676.000000,29041.000000,29663.00000,29676.000000,29041.000000,29663.000000,29676.000000,29041.000000,29663.000000,29676.000000,29041.000000,29663.000000,29676.000000,29041.000000,29663.000000,29676.000000,29041.000000,29663.000000,29676.000000,29041.000000,29663.000000,29676.000000,29041.000000,29663.000000,29676.000000,29041.000000,29663.000000,29676.00000,29041.000000,29663.0,29676.0,29041.0,29663.000000,29676.000000,29041.000000,29663.000000,29676.000000,29041.000000,29663.000000,29676.000000,29041.000000,29663.000000,29676.000000,29041.000000,29979.000000,29979.000000,29979.000000,29663.000000,29676.000000,29041.000000,29663.000000,29676.000000,29041.000000,29663.000000,29676.000000,29041.000000,29663.000000,29676.000000,29041.000000,29663.000000,29676.000000,29041.000000,29663.000000,29676.000000,29041.000000,29663.000000,29676.000000,29041.000000,29663.0,29676.0,29041.0,29663.000000,29676.000000,29041.000000,29979.000000,29979.000000,29979.000000,29663.000000,29676.000000,29041.00000,29663.000000,29676.000000,29041.000000,29663.000000,29676.000000,29041.000000,29979.000000,29979.000000,29979.000000,29979.000000,29979.000000,29979.000000,29979.000000,29979.000000,29979.000000,29979.000000,29979.000000,29979.000000,29979.000000,29979.000000,29979.000000,29979.000000,29979.000000,29979.000000,29979.000000,29979.000000,29979.000000,29979.000000,29979.000000,29979.000000,29979.000000,29979.000000,29979.000000,29979.000000,29979.000000,29979.000000,29979.000000,29979.000000,29979.000000,29979.000000,29979.000000,29979.000000,29979.000000,29979.000000,29979.000000,29979.000000,29979.000000,29979.000000,29979.000000,29979.000000,29979.000000,29979.000000,29979.000000,29979.000000,29979.000000,29979.000000,29979.000000,29979.000000,29979.000000,29979.000000,29979.000000,29979.000000,29979.000000,29979.000000,29979.000000,29979.000000,29979.000000,29979.000000,29979.000000
mean,109.0,0.0,0.0,0.0,587.587624,589.424681,535.067748,299.392147,307.701888,276.459159,422.582059,428.433657,387.277278,17.613734,13.673468,13.691460,29.66101,22.281627,22.177442,95.742759,96.765436,90.000551,183.268532,183.174937,173.030627,7.053548,7.172642,6.705906,1.584424,1.882820,1.769414,286.073738,287.122076,269.745785,191.914956,202.103541,177.922163,205.376377,215.696797,185.468308,2.033503,2.05668,1.848781,0.0,0.0,0.0,399.329215,419.861391,365.243279,2.290991,2.230369,2.095232,5.983799,7.505682,7.111893,0.700584,0.048137,0.061106,687.068925,709.531995,624.107691,69.504337,71.047016,68.089452,161.379733,162.498289,158.612226,15.770853,16.687581,15.188150,246.664876,250.242986,241.899720,16.411298,17.078657,15.547828,32.371603,33.831256,31.415797,2.907568,3.025899,2.769714,0.0,0.0,0.0,51.694485,53.939896,49.737203,307.624011,314.954126,295.472794,0.067447,0.018248,0.02850,11.263071,12.467359,12.065624,1.202479,1.493254,1.277311,12.123253,11.914207,10.226092,697.720204,696.309083,613.908403,171.471130,175.723006,162.929351,104.558858,105.303379,95.677774,0.936889,1.053938,1.035425,56.949331,58.716702,55.276594,0.624771,0.718303,0.721605,0.312118,0.335635,0.313820,90.788857,97.605184,89.803108,78.875263,78.196804,69.248761,258.623297,278.341301,270.061116,54.043360,55.934679,52.160455,50.280483,51.890691,47.866114,0.010374,0.009874,0.009307,0.124954,0.131425,0.114080,0.499817,0.586877,0.607525,0.174055,0.185296,0.173321,0.138063,0.150339,0.140498,0.340939,0.345842,0.327930,1264.158911,129.482436,135.225368,121.450911,6.554528,0.101504
std,0.0,0.0,0.0,0.0,442.848876,463.049067,492.447887,462.369385,483.432401,471.700220,471.281393,487.288606,480.450594,79.593002,76.719673,75.744432,119.22124,98.448242,107.926673,238.016910,249.324601,238.064175,250.855944,241.340643,236.689325,22.780541,22.702787,20.518192,6.927055,9.305441,7.513241,381.029238,376.804351,369.470137,411.577801,430.004870,415.595486,415.323157,439.802803,422.331860,12.528190,13.42370,11.889492,0.0,0.0,0.0,608.562481,639.529047,622.988427,46.186003,45.874448,45.534328,18.719302,23.181829,23.236275,2.293435,2.757213,3.375300,660.557039,685.283264,686.211375,159.386596,168.071992,157.806028,222.657561,220.025170,218.744959,46.062813,49.724639,44.349285,313.572850,316.188509,309.094389,79.300976,85.149106,73.579277,101.609873,106.319301,106.871833,20.042560,20.624196,20.599286,0.0,0.0,0.0,141.211856,149.898756,142.998561,361.286101,369.768358,360.411762,0.195231,0.182923,0.11818,67.563787,77.343430,76.095029,14.068195,15.492347,13.098826,9.546424,9.605757,9.480012,539.488337,562.327538,602.047678,174.762549,181.606909,172.671442,142.819031,141.184108,145.319905,2.176824,2.412950,2.405824,105.849744,108.176034,104.814186,1.730741,1.930804,1.871110,1.066232,1.176567,1.162114,191.272837,198.435609,185.886834,277.525473,280.430249,268.616268,866.619871,856.096362,859.715968,171.872571,176.375885,163.905193,153.212614,157.959498,145.869033,0.101324,0.098876,0.096022,0.374656,0.387793,0.357335,1.698845,1.900280,1.844605,0.574545,0.620703,0.583178,0.875984,0.969779,0.975212,0.474033,0.475650,0.469467,975.181038,390.625027,408.218570,389.910814,48.630605,0.302000
min,109.0,0.0,0.0,0.0,-2258.709000,-2014.045000,-945.808000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-30.280000,-26.040000,-20.040000,-15.320000,-15.480000,-24.430000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,180.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,109.0,0.0,0.0,0.0,364.352500,365.235000,289.782000,43.030000,42.775000,32.240000,141.440000,139.627500,107.680000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,8.810000,9.590000,7.230000,31.750000,35.137500,26.860000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,53.390000,59.487500,45.390000,0.000000,0.000000,0.000000,1.940000,1.660000,0.460000,0.000000,0.00000,0.000000,0.0,0.0,0.0,6.710000,6.380000,3.160000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,266.480000,275.275000,188.965000,8.810000,9.940000,8.080000,34.860000,39.640000,34.310000,0.000000,0.000000,0.000000,59.355000,65.780000,57.590000,0.000000,0.000000,0.000000,0.550000,0.560000,0.230000,0.000000,0.000000,0.000000,0.0,0.0,0.0,2.860000,3.010000,2.040000,90.035000,98.840000,78.930000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,6.000000,4.000000,433.000000,427.000000,309.000000,110.000000,110.000000,67.000000,30.000000,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,480.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,109.0,0.0,0.0,0.0,495.951000,493.781000,452.232000,128.480000,128.120000,106.390000,285.990000,285.630000,251.530000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,33.340000,33.890000,30.830000,103.530000,106.140000,95.930000,0.380000,0.450000,0.310000,0.000000,0.000000,0.000000,169.560000,173.460000,157.380000,13.690000,14.380000,7.840000,39.440000,39.250000,27.280000,0.000000,0.00000,0.000000,0.0,0.0,0.0,131.390000,138.380000,84.910000,0.000000,0.000000,0.000000,0.260000,0.830000,0.680000,0.000000,0.000000,0.000000,510.760000,526.130000,435.810000,29.680000,30.810000,28.440000,95.510000,98.195000,94.290000,2.060000,2.330000,2.130000,153.480000,156.950000,150.010000,1.130000,1.290000,0.780000,7.350000,7.760000,6.380000,0.000000,0.000000,0.000000,0.0,0.0,0.0,15.430000,16.480000,13.630000,205.340000,211.240000,193.530000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,9.000000,8.000000,585.000000,581.000000,520.000000,120.000000,128.000000,130.000000,110.000000,98.000000,50.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,914.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,109.0,0.0,0.0,0.0,704.184500,700.986000,671.349500,357.655000,365.127500,310.360000,527.605000,537.017500,493.760000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,92.700000,92.530000,87.590000,242.260000,241.060000,229.610000,5.205000,5.382500,4.980000,0.000000,0.130000,0.110000,377.060000,378.690000,357.540000,181.725000,195.230000,143.780000,214.390000,227.467500,174.860000,0.000000,0.00000,0.000000,0.0,0.0,0.0,579.245000,621.660000,502.210000,0.000000,0.000000,0.000000,5.280000,7.250000,6.710000,0.000000,0.000000,0.000000,899.960000,931.305000,833.435000,74.620000,75.380000,72.730000,204.610000,205.190000,202.230000,12.680000,13.280000,12.280000,317.825000,319.122500,310.160000,10.510000,11.190000,9.390000,27.970000,29.580000,26.510000,0.200000,0.280000,0.230000,0.0,0.0,0.0,48.040000,50.940000,45.190000,393.835000,396.915000,380.450000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.080000,0.030000,0.080000,15.000000,15.000000,13.000000,838.000000,836.000000,790.000000,200.000000,200.000000,198.000000,120.000000,130.000000,130.000000,1.000000,1.000000,1.000000,98.000000,98.000000,56.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,154.000000,154.000000,145.000000,14.470000,14.960000,9.625000,0.000000,2.275000,0.000000,0.000000,0.000000,0.000000,2.215000,2.375000,0.605000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1923.500000,1.600000,2.025000,0.000000,0.000000,0.000000
max,109.0,0.0,0.0,0.0,27731.088000,35145.834000,33543.624000,7376.710000,8157.780000,10752.560000,8362.360000,9667.130000,14007.340000,2613.310000,3813.290000,4169.810000,3775.11000,2812.040000,5337.040000,6431.330000,7400.660000,10752.560000,4729.740000,4557.140000,4961.330000,1466.030000,1196.430000,928.490000,342.860000,569.710000,351.830000,10643.380000,7674.780000,11039.910000,7366.580000,8133.660000,8014.430000,8314.760000,9284.740000,13950.040000,628.560000,544.63000,516.910000,0.0,0.0,0.0,8432.990000,10936.730000,13980.060000,5900.660000,5490.280000,5681.540000,1023.210000,1265.790000,1390.880000,100.610000,370.130000,394.930000,10674.030000,11365.310000,14043.060000,6351.440000,5709.590000,4003.210000,4693.860000,4388.730000,5738.460000,1678.410000,1983.010000,1588.530000,6496.110000,6466.740000,5748.810000,5459.560000,5800.930000,4309.290000,4630.230000,3470.380000,5645.860000,1351.110000,1136.080000,1394.890000,0.0,0.0,0.0,5459.630000,6745.760000,5957.140000,6798.640000,7279.080000,5990.710000,19.760000,21.330000,6.23000,3965.690000,4747.910000,4100.380000,1344.140000,1495.940000,1209.860000,307.000000,138.000000,196.000000,35190.000000,40335.000000,45320.000000,4010.000000,4010.000000,4449.000000,4010.000000,4010.000000,4449.000000,61.000000,54.000000,60.000000,1555.000000,1555.000000,1555.000000,39.000000,48.000000,44.000000,29.000000,35.000000,45.000000,7546.000000,4365.000000,4061.000000,10285.900000,7873.550000,11117.610000,45735.400000,28144.120000,30036.060000,6362.280000,4980.900000,3716.900000,6433.760000,4809.360000,3467.170000,1.000000,1.000000,1.000000,4.000000,5.000000,5.000000,39.000000,48.000000,44.000000,14.000000,16.000000,16.000000,29.000000,35.000000,41.000000,1.000000,1.000000,1.000000,4321.000000,12916.220000,9165.600000,11166.210000,2618.570000,1.000000